@import '../../global.scss';

.blogs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2rem;
  
  .creat {
    align-self: flex-end;
    margin: 2rem;
    background-color: $color-yellow;
    color: #fafafa;
    padding: 1rem 3rem;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    
    &:hover {
      background-color: $color-dark;
      transform: translateY(-2px);
    }

    @include mobile {
      font-size: 14px;
      padding: 0.7rem 1.5rem;
      margin: 2rem;
    }
  }

  .blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 2rem;
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
    
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      height: auto;
    }

    .img-title {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 120px;
        height: 70px;
        border-radius: 8px;
        object-fit: cover;
        transition: transform 0.3s ease;
        
        &:hover {
          transform: scale(1.05);
        }
      }

      h4 {
        font-size: 16px;
        color: #333;
        font-weight: bold;
        
        @include mobile {
          font-size: 14px;
        }
      }

      span {
        color: #888;
        font-size: 14px;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-right: 1rem;

      @include mobile {
        align-self: flex-end;
      }

      .edit {
        text-decoration: none;
        padding: 6px 12px;
        background-color: #28a745;
        font-size: 14px;
        border-radius: 6px;
        color: #fff;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: #218838;
          transform: translateY(-2px);
        }
      }

      .delete {
        font-size: 16px;
        color: red;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: darkred;
        }
      }
    }
  }
}

.modal-h2 {
  font-size: 1.5rem;
  color: $color-dark-blue;
  margin-bottom: 1rem;
}

.modal-p {
  color: #ff4c4c;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.modal-cancel {
  padding: 8px 16px;
  background-color: $color-dark-blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0053cf;
  }
}

.modal-delete {
  padding: 8px 16px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #a00000;
  }
}